/* Core section */


*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* padding: 0;
    margin: 0; */
}

.to-uppercase {
    text-transform: uppercase;
}

.to-capitalize {
    text-transform: capitalize;
}

a{
    text-decoration: none;
    display: inline-block;
}

nav {
   font-family: sans-serif 
}


.button{
    margin-top: 30px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100% );
    background-size: 200% auto;
    border: none;
    background-color: blue;
    color: #fff;
    letter-spacing: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 50px;
    cursor: pointer;
    border-radius: 5px;
    padding: 0 38px;
}


.intro-name {
    letter-spacing: 2px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #797979;

}

.blur-line {
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 5px;
    width: 80px;
    height: 4px;
    background-color: rgb(100, 67, 73);
    filter: blur(4px);
    border-radius: 4px;
}

.title{
    margin-top: 5px;
    font-size: 2.625rem;
    font-weight: 700;
    color: #05364D;
    width: 445px;
}

.description {
    font-size: 1rem;
    color: #888;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 1.6875rem;
    width: 445px;
}


/* Core section */


/* Main section */

.main-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 3px 16px 0px rgb(0 0 0 /10%);
}

/* .main-navigation__item {
    padding: 30px 0;
} */

.nav-link {
    padding: 30px 0;
}

.main-navigation__items {
    display: flex;
}

.main-navigation__item:not(:last-child){
    margin-right: 40px;
}

.main-navigation__item.active .nav-link {
    color: #efb6df;
}

.nav-link:hover {
    color: #efb6df;
}

.nav-link  {
    font-weight: 500;
    font-size: 12px;
    color: #05364d;
}



.button:hover{
    background-position: right center;
}

/* Homee section */

.home {
    padding-top: 100px;
}

.home-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home-title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 1.25rem;
    letter-spacing: 2px;
    color: #7979;
}

.home-name {
    margin-bottom: 1.25rem;
    font-size: 3.75rem;
    font-weight: 500;
    line-height: 60px;
    margin-bottom: 1.25rem;
    color: #05364E;
}

.home-description {
    font-size: 1.5rem;
    font-weight: 300px;
    margin-bottom: 1.25rem;
    color: #05364E;
}

.home-social {
    color: #03a9f4;
    font-size: 1.5rem;
    cursor: pointer;
    transform: rotate(0deg);
    transition: all 1s;
}


.home-social:hover {
    transform: rotate(360deg);
}

.home-social:not(:last-child){
    margin-right: 1rem;
}


/* Statistics section */

.statistics {
    padding-top: 6.25rem;
}

.statistics-items {
    display: flex;
    justify-content: space-between;
}

.statistics-item{
    background-color: #f3f3f3;
    text-align: center;
    padding: 1.875rem 0.9375rem;
    margin-bottom: 20px;
    color: #00bcd4;
}



.statistics-number {
    font-size: 1.875rem;
    margin-bottom: 0.625rem;
    /* background-color: linear-gradient(90deg, #1345e6 0%, #ed239f 100% );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    color: #00bcd4;
}

/* About section */

.about{
    padding: 6.25rem 0;
}



.about-head {
    display: flex;
    flex-direction: row-reverse;
    /* justify-content: space-between; */
    align-items: center;
    column-gap: 30px;
}

.about-image img{
    flex: grow 0;
    
}


/* Services section */

.services{
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}

.service-cards {
   display: flex;
   justify-content: space-between; 
}

.service-card {
    padding: 3.75rem 1.87rem;
    background-color: #f8faff;
    text-align: center;
    transition: all 1s;
}

.service-card:hover{
   background-color: #5f30ff;
}

.service-card:hover .service-card__title,
.service-card:hover .service-card_description,
.service-card:hover .service-card__link {
    color: #fff;
} 



.service-image img{
    width: 100px;
    height: 100px;
}

.service-card__title {
    color: #05364d;
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: 1.25rem;
}

.service-card_description {
    letter-spacing: 1px;
    color: #888;
    font-size: 0.875rem;
    line-height: 1.6875rem;
    width: 290px;
    margin: 0 auto;
}

.service-card__link {
    font-size: 0.8125rem;
    font-weight: 500;
    margin-top: 40px;
    margin-bottom: 2.5rem;
    /* background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100% );
    background-size: 200% auto; */
    color: #05364d;
}


.service-card__line {
    display: block;
    margin: 0 auto;
    width: 60px;
    height: 2px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100% );
    background-size: 200% auto;
}



/* Clients section */



.clients-info {
    padding-top: 3.125rem;
    
}

.client-info{
    display: flex;
    justify-content: space-between;
}

.client-name {
    font-size: 1.25rem;
    margin-bottom: 4px;
}


.client-position {
    font-size: 0.875rem;
    font-weight: 400;
}

.client-description {
    width: 540px;
    color: #888;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.6875rem;
}

.box{
    color: #ffd804;
    font-size: 0.9375rem;
}

/* Portfolio section */

.portfolio {
    padding: 6.25rem 0;
}


.portfolio-navigation__items {
    display: flex;
}

.portfolio-navigation__item:not(:last-child) {
    margin-right: 40px;

}


.box-1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
    margin-top: 50px;
}

.portfolio-link {
    font-weight: 500;
font-size: 12px;
color: #05364d;
}

.portfolio-navigation__item.active .portfolio-link{
    color:#1345e6 ;
}


.portfolio-link:hover{
    color: #1345e6;
}

.portfolio-cards img{
    width: 540px;
}

.portfolio-cards {
    display: flex;
    justify-content: space-between;
}



.portfolio-card {
    position: relative;
}

.portfolio-card__overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color:rgba(19, 69, 230, 0.9);
    visibility: hidden;
    transition: all 1s;
}

.box-3{
    height:40%;
}


.portfolio-card__info {
    position: absolute;
    left: 80px;
    bottom: 44px;
    color: #fff;
    visibility: hidden;
    transition: all 1s;
}

.portfolio-card__info  a {
    color: #fff;
}


.portfolio-card:hover .portfolio-card__overlay{
    visibility: visible;
    position: absolute;
    top: 40px;
    left: 40px;
}

.portfolio-card:hover .portfolio-card__info{
    position: absolute;
    left: 80px;
    bottom: 44px;
    visibility: visible;
}




/* Blog section */

.blog {
    padding-top: 6.25rem;
    padding-bottom: 6.25rem;
}


.blog-items {
    display: flex;
    justify-content: space-between;
}

.blog-icons {
    display: flex;
    justify-content: space-between;
}


.blog-link:hover {
    color: #ed239f;
}


.blog-item:hover {
    box-shadow: 0px 10px 20px rgb(5 54 77 / 30%);
}


.blog-icon:hover {
    color: blueviolet;
    cursor: pointer;
}



.blog-item:hover .blog-info {
    background-color: #fff;
}

.blog-item:hover .blog-image img {
    transform: scale(1.1,1.1);
}

.blog-image {
    overflow: hidden;
}

.blog-image img {
    vertical-align:middle;
    transition: all 0.4s;
}

.blog-item {
    background-color: #F8FAFF;
    transition: all 0.4s;
}

.blog-info {
    padding: 20px;
    
}

.blog-image {
    width: 100%;
}


.blog-icon i{
    margin-right: 5px;
}

.blog-icon {
font-size: 16px;
color: #888;
}

.blog-title {
font-weight: 700;
color: #05364d;
font-size: 1.25rem;
margin-top: 1.25rem;
margin-bottom: 0.9375rem;
}



.blog-description {
line-height: 1.375rem;
font-weight: lighter;
font-size: 0.9375rem;
width: 280px;
}

.blog-link {
    font-size: 0.8125rem;
    font-weight: 500;
    margin-top: 40px;
    color: #05364d;
    transition: all 0.4s;
}

.blog-line {
    display: block;
    width: 60px;
    height: 2px;
    background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100% );
    background-size: 200% auto;
}


/* Footer section */


.footer {
    background: #05364d;
    padding: 50px 0;

}

.footer-logo {
    margin-bottom: 20px;
    text-align: center;
}


.footer-info{
text-align: center;
}



.footer-navigation__items {
    display: flex;
    justify-content: space-between;
}




.footer-navigation {
    padding: 20px 100px;
}


.footer-link {
    color: #fff;
    font-size: 12px;
    font-weight: 500;
}
/* .footer__socials {
    display: flex;
    justify-content: space-between;
} */

.footer__social {
    text-align: center;
    display: inline-block;
    width: 45px;
    line-height: 45px;
    height: 45px;   
    background-color: #fff;
    border-radius: 50%;
    color: #05364d;
    font-size: 16px;
   cursor: pointer;
}

.footer__social:not(:last-child){
    margin-right: 10px;
}

.footer__social:hover a{
    color: white;
}

.footer__social:hover {
     background: linear-gradient(to right, #1345e6 0%, #ed239f 51%, #1345e6 100% );
    background-size: 200% auto;
}